#ignore
data/*
ImageArchive/*
database/*
output/*
**/image_archive/*
ImagesBackup/*

#but keep the folder structure
!ImageArchive/.gitkeep
!database/.gitkeep
!data/.gitkeep
!output/.gitkeep
!**/image_archive/.gitkeep

#ignore target
**/target

#ignore idea files
*.iml
.idea

# ignore usage scripts
Psychometric-Annotator/update.sh
