#ignore all docker volumes
ImageArchive/*
database/*
#but keep the folders
!ImageArchive/.gitkeep
!database/.gitkeep


#ignore all documents
**/image_archive

#ignore target
target

#ignore idea files
*.iml
.idea
